@charset "UTF-8";
/* **** FRAMEWORK **** */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);
/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_grid.scss */
#content {
  width: 100%;
  font-size: 0em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/_grid.scss */
.row {
  clear: left;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_grid.scss */
section {
  float: left;
  font-size: 1rem;
}

/* line 26, ../sass/_grid.scss */
.span1 {
  width: 6.33333%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span2 {
  width: 14.66667%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span3 {
  width: 23%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span4 {
  width: 31.33333%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span5 {
  width: 39.66667%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span6 {
  width: 48%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span7 {
  width: 56.33333%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span8 {
  width: 64.66667%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span9 {
  width: 73%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span10 {
  width: 81.33333%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span11 {
  width: 89.66667%;
  margin: 0 1%;
}

/* line 26, ../sass/_grid.scss */
.span12 {
  width: 98%;
  margin: 0 1%;
}

/* line 33, ../sass/_grid.scss */
.offset1 {
  margin-left: 9.33333%;
}

/* line 33, ../sass/_grid.scss */
.offset2 {
  margin-left: 17.66667%;
}

/* line 33, ../sass/_grid.scss */
.offset3 {
  margin-left: 26%;
}

/* line 33, ../sass/_grid.scss */
.offset4 {
  margin-left: 34.33333%;
}

/* line 33, ../sass/_grid.scss */
.offset5 {
  margin-left: 42.66667%;
}

/* line 33, ../sass/_grid.scss */
.offset6 {
  margin-left: 51%;
}

/* line 33, ../sass/_grid.scss */
.offset7 {
  margin-left: 59.33333%;
}

/* line 33, ../sass/_grid.scss */
.offset8 {
  margin-left: 67.66667%;
}

/* line 33, ../sass/_grid.scss */
.offset9 {
  margin-left: 76%;
}

/* line 33, ../sass/_grid.scss */
.offset10 {
  margin-left: 84.33333%;
}

/* line 33, ../sass/_grid.scss */
.offset11 {
  margin-left: 92.66667%;
}

/* line 19, ../sass/screen.scss */
body {
  font-family: 'Open Sans', sans-serif, arial;
}

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 23, ../sass/screen.scss */
h1 {
  font-size: 2.2em;
  color: #FF6900;
  text-align: center;
  margin-bottom: 2%;
}

/* line 24, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  color: #FF6900;
  text-align: center;
  margin-bottom: 2%;
}

/* line 25, ../sass/screen.scss */
h3 {
  font-size: 1.4em;
  color: #FF6900;
  text-align: center;
  margin-bottom: 1%;
}

/* line 26, ../sass/screen.scss */
h4 {
  font-size: 1em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 27, ../sass/screen.scss */
h5 {
  font-size: 0.8em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 28, ../sass/screen.scss */
h6 {
  font-size: 0.6em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

/* line 30, ../sass/screen.scss */
u {
  text-decoration: underline;
}

/* line 31, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 32, ../sass/screen.scss */
i {
  font-style: italic;
}

/* line 33, ../sass/screen.scss */
small {
  font-size: 0.7em;
  font-style: italic;
}

/* line 34, ../sass/screen.scss */
strike {
  text-decoration: line-through;
}

/* line 35, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 36, ../sass/screen.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 37, ../sass/screen.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 39, ../sass/screen.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 40, ../sass/screen.scss */
p {
  display: block;
  margin-bottom: 1%;
}

/* line 42, ../sass/screen.scss */
input, select {
  width: 200px;
}

/* line 43, ../sass/screen.scss */
textarea {
  resize: vertical;
  width: 200px;
  min-height: 200px;
}

/* line 44, ../sass/screen.scss */
form {
  text-align: center;
}

/* line 46, ../sass/screen.scss */
ol {
  list-style-type: upper-roman;
}

/* line 47, ../sass/screen.scss */
ul {
  list-style-type: square;
}

/* line 49, ../sass/screen.scss */
input[type=number], input[type=text], input[type=password], input[type=search], select {
  -moz-box-shadow: #FEAF38 2px 2px 10px inset;
  -webkit-box-shadow: #FEAF38 2px 2px 10px inset;
  box-shadow: #FEAF38 2px 2px 10px inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: #336699;
}

/* line 54, ../sass/screen.scss */
input[type=number] {
  width: 50px;
}

/* line 55, ../sass/screen.scss */
input[type=submit], input[type=button], input[type=file] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #336699;
  background-color: #336699;
  color: white;
}

/* line 62, ../sass/screen.scss */
.row .span12 {
  background-color: #2B80FF;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* annule la propri├®t├® shadow */
}
/* line 66, ../sass/screen.scss */
.row .span12 footer {
  clear: both;
  text-align: center;
}
/* line 70, ../sass/screen.scss */
.row .span12 footer p:first-child {
  font-weight: bold;
  color: white;
}

/* **** FIN FRAMEWORK **** */
/* line 79, ../sass/screen.scss */
body {
  /*background: url("../images/background.jpg") top center no-repeat;
  background-attachment: fixed;*/
  background-color: #2B80FF;
}

/* line 85, ../sass/screen.scss */
header {
  display: block;
  width: 31.33333%;
  /* Prend la taille du span */
  padding: 10px;
  border: 3px #212498 outset;
}
/* line 91, ../sass/screen.scss */
header img {
  width: 100%;
  /* l'image prend la taille du header */
  height: 100px;
}

/* line 97, ../sass/screen.scss */
.row {
  margin: 1% 0;
}

/* line 101, ../sass/screen.scss */
.available {
  color: green;
}

/* line 102, ../sass/screen.scss */
.noAvailable {
  color: red;
}

/* line 103, ../sass/screen.scss */
.doc {
  height: 270px;
}

/* line 105, ../sass/screen.scss */
.span4 {
  /* Un document */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: white;
  padding: 10px;
}
/* line 113, ../sass/screen.scss */
.span4 .span5 {
  /* Image du document */
}
/* line 114, ../sass/screen.scss */
.span4 .span5 img {
  width: 100%;
  height: 250px;
}
/* line 117, ../sass/screen.scss */
.span4 .span7 {
  /* Information sur le document */
  text-align: center;
}
/* line 120, ../sass/screen.scss */
.span4 .span7 p {
  margin-bottom: 4%;
}
/* line 121, ../sass/screen.scss */
.span4 .span7 .desc {
  text-align: justify;
  height: 100px;
  overflow: hidden;
}

/* line 126, ../sass/screen.scss */
.span8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: white;
  padding: 10px;
}

/* line 136, ../sass/screen.scss */
.span12 {
  /* Document d├®tail */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  margin-bottom: 1%;
  margin-top: 1%;
  background-color: white;
  padding: 10px;
}
/* line 144, ../sass/screen.scss */
.span12 .span2 {
  /* Image d├®tail */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: black 2px 2px 10px;
  -webkit-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
  padding: 10px;
  background-color: #D9DEFF;
}
/* line 149, ../sass/screen.scss */
.span12 .span2 img {
  width: 100%;
}
/* line 151, ../sass/screen.scss */
.span12 p:first-child {
  text-align: center;
}

@media screen and (max-width: 950px) {
  /* line 156, ../sass/screen.scss */
  .available {
    display: none;
  }

  /* line 157, ../sass/screen.scss */
  .noAvailable {
    display: none;
  }

  /* line 159, ../sass/screen.scss */
  .doc {
    height: 200px;
    overflow: hidden;
  }

  /* line 161, ../sass/screen.scss */
  input, select {
    width: 100%;
    margin-bottom: 1%;
  }

  /* line 166, ../sass/screen.scss */
  .span4 {
    /* Un document */
  }
  /* line 167, ../sass/screen.scss */
  .span4 .span5 {
    /* Image du document */
  }
  /* line 168, ../sass/screen.scss */
  .span4 .span5 img {
    display: none;
  }
  /* line 171, ../sass/screen.scss */
  .span4 .span7 {
    width: 100%;
  }
  /* line 173, ../sass/screen.scss */
  .span4 .span7 .desc {
    height: 100%;
  }

  /* line 178, ../sass/screen.scss */
  .span12 .span2 {
    width: 25%;
    margin-left: 38%;
  }
  /* line 183, ../sass/screen.scss */
  .span12 .span10 {
    clear: left;
    width: 98%;
  }
  /* line 187, ../sass/screen.scss */
  .span12 .span10 .available {
    display: inline-block;
  }
  /* line 188, ../sass/screen.scss */
  .span12 .span10 .noAvailable {
    display: inline-block;
  }
}
@media screen and (max-width: 550px) {
  /* line 194, ../sass/screen.scss */
  header {
    display: none;
  }

  /* line 196, ../sass/screen.scss */
  .available {
    display: block;
  }

  /* line 197, ../sass/screen.scss */
  .noAvailable {
    display: block;
  }

  /* line 199, ../sass/screen.scss */
  input, select {
    width: 100%;
    margin-bottom: 1%;
  }

  /* line 204, ../sass/screen.scss */
  .span4 {
    /* Document liste */
    clear: left;
    width: 98%;
  }
}
