/* **** FRAMEWORK **** */
@import "compass/reset";
@import "_grid.scss";

@include grid(12);

$colorTitleH1: #FF6900;
$colorTitleH2: #FF6900;
$colorTitleH3: #FF6900;
$colorTitleH4: #000000;
$colorTitleH5: #000000;
$colorTitleH6: #000000;
$bodyColor: #FFFFFF;
$sectionColor: darken($bodyColor, 7%);
$spanColor: darken($bodyColor, 17%);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

body{ font-family: 'Open Sans', sans-serif, arial; }

h1, h2, h3, h4, h5, h6{	font-weight: bold; }

h1{ font-size: 2.2em; color: $colorTitleH1; text-align: center; margin-bottom: 2%; }
h2{ font-size: 1.7em; color: $colorTitleH2; text-align: center; margin-bottom: 2%; }
h3{ font-size: 1.4em; color: $colorTitleH3; text-align: center; margin-bottom: 1% }
h4{ font-size: 1em; color: $colorTitleH4; text-align: center; margin-bottom: 1% }
h5{ font-size: 0.8em; color: $colorTitleH5; text-align: center; margin-bottom: 1% }
h6{ font-size: 0.6em; color: $colorTitleH6; text-align: center; margin-bottom: 1% }

u{ text-decoration: underline; }
b{ font-weight: bold; }
i{ font-style: italic; }
small{ font-size: 0.7em; font-style: italic; }
strike{ text-decoration: line-through; }
strong{ font-weight: bold; }
sub{ vertical-align: sub; font-size: smaller; }
sup{ vertical-align: super; font-size: smaller; }

a{ text-decoration: none; color: black; }
p{ display: block; margin-bottom: 1%; }

input, select{ width: 200px; }
textarea{ resize: vertical; width: 200px; min-height: 200px; }
form{ text-align: center; }

ol{ list-style-type: upper-roman; }
ul{ list-style-type: square; }

input[type=number], input[type=text], input[type=password], input[type=search], select{
	@include box-shadow(#FEAF38 2px 2px 10px inset);
	@include border-radius(4px);
	border-color: #336699;
}
input[type=number]{ width: 50px; }
input[type=submit], input[type=button], input[type=file]{
	@include border-radius(5px);
	border-color: #336699;
	background-color: #336699; 
	color: white;
}

.row .span12{
	background-color: #2B80FF;
	@include box-shadow(none);/* annule la propriété shadow */
	
	footer{
		clear: both;
		text-align: center;

		p:first-child{
			font-weight: bold;
			color: white;
		}
	}
}

/* **** FIN FRAMEWORK **** */

body{
	/*background: url("../images/background.jpg") top center no-repeat;
	background-attachment: fixed;*/
	background-color: #2B80FF;
}

header{
	display: block;
	width: 31.33333%; /* Prend la taille du span */
	padding: 10px; 
	border:3px #212498 outset;

	img{
		width: 100%; /* l'image prend la taille du header */
		height: 100px;
	}
}

.row{ 
	margin: 1% 0;
}

.available{ color: green; }
.noAvailable{ color: red; }
.doc{ height: 270px; }

.span4{ /* Un document */ 
	@include box-sizing(border-box);
	@include box-shadow(black 2px 2px 10px);
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: white;
	padding: 10px;

	.span5{ /* Image du document */
		img{ width: 100%; height: 250px; }
	}

	.span7{ /* Information sur le document */
		text-align: center;

		p{ margin-bottom: 4%; }
		.desc{ text-align: justify; height: 100px; overflow: hidden; }
	}
}


.span8{
	@include box-sizing(border-box);
	@include box-shadow(black 2px 2px 10px);
	@include border-radius(5px);
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: white;
	padding: 10px;
}

.span12{ /* Document détail */
	@include box-sizing(border-box);
	@include box-shadow(black 2px 2px 10px);
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: white;
	padding: 10px;

	.span2{ /* Image détail */
		@include box-sizing(border-box);
		@include box-shadow(black 2px 2px 10px);
		padding: 10px;
		background-color: #D9DEFF;
		img{ width: 100%; }
	}
	p:first-child{ text-align: center; }
}

@media screen and (max-width: 950px){

	.available{ display: none; }
	.noAvailable{ display: none; }

	.doc{ height: 200px; overflow: hidden; }

	input, select{
		width: 100%;
		margin-bottom: 1%;
	}

	.span4{ /* Un document */
		.span5{ /* Image du document */
			img{ display: none; }
		}

		.span7{
			width: 100%;
			.desc{ height: 100%; }
		}	
	}

	.span12{
		.span2{
			width: 25%;
			margin-left: 38%;
		}

		.span10{
			clear: left;
			width: 98%;

			.available{ display: inline-block; }
			.noAvailable{ display: inline-block; }
		}
	}
}

@media screen and (max-width: 550px) {
	header{ display: none; }

	.available{ display: block; }
	.noAvailable{ display: block; }

	input, select{
		width: 100%;
		margin-bottom: 1%;
	}

	.span4{ /* Document liste */
		clear: left;
		width: 98%;
	}
}